body{background-image:
     url("software-engineering-01.png");color:white;background-color:purple;max-width:80%;}
h1{font-size:50;text-align:center;text-decoration:underline;font-style:italic;}

